*{
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    background-image: url(https://occ-0-7613-3663.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABaJJIdyKMNvEcWhAtI5Xk12MQLY8DLxAkM2k8unVHyRordNL9Jn726cLoEmP_DAn44vwE3_l9dWTpDQTvmzsk6REyj4veXm9bvQ8.jpg?r=e19&quot);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    max-width: 100%;
}
.posters{
display: flex;
overflow-y: hidden;
overflow-x: scroll;
margin: 3% 1%;
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
   margin: 0.5%;
   border-radius:4px;
}