*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    min-height: 100vh;
    display: flex;

}
.part{
    height: 90px;
    width: 90px;
    background-color: blue;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px -10px 70px #000;
    animation: part1 1s infinite;
}
.part::before{
    border-radius: 50px;
    height: 90px;
    width: 90px;
    background-color: blue;
    position: absolute;
    content: "";
    top: -50%;
}
.part::after{
    height: 90px;
    width: 90px;
    background-color: blue;
    position: absolute;
    border-radius: 50px;
    right: -50%;
    content: "";
}
@keyframes part1 {
    0%{
        transform: rotate(-45deg) scale(2);
    }
    80%{
        transform: rotate(-45deg) scale(1);
    }
    100%{
        transform: rotate(-45deg) scale(2);
    }
}