*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: color #111;
    animation: avinash 20s infinite;
}
.object{
    background-color: red;
    height: 80px;
    width: 80px;
    border-radius: 80%;
    animation: master 35s infinite;
    position: relative;
}
@keyframes master {
    0%{
        top: 0px;
        left: 0px;
        background-color: rgb(249, 114, 114);
    }
    25%{
        top: 0px;
        left:1180px;
        background-color: rgb(192, 249, 105);
    }
    50%{
        top: 500px;
        left: 1180px;
        background-color: rgb(196, 141, 247);
    }
    75%{
        top: 500px;
        left: 0;
        background-color: black;
    }
    100%{
       top: 0px;
       left: 0px;
       background-color: red;
    }      
}
@keyframes avinash {
    /* from{
        background-color: #222;
    }
    to{
        background-color: aqua;
    } */
    0%{
        background-color: #222;
    }
    20%{
        background-color: aquamarine;
    }
    40%{
        background-color: chocolate;
    }
    60%{background-color: yellow;
    }
    80%{
        background-color: yellowgreen;
    }
    100%{
        background-color: #222;
    }
}