*,body,nav{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #b3b3b3d4;
}
nav{
    background-color: #222;
    display: flex;
}
nav .image1 img{
    object-fit: contain;
    max-width: 20%;
    left: 2%;
    position: relative;
}
nav .sections ul{
    list-style-type: none;
    font-size: 15px;
    font-family:sans-serif;
    display: flex;
    left: 58%;
    position: absolute;
}
nav .sections ul li{
    padding-right:54px;
    margin: 20PX 0px;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #fff;
}
.image2{
    object-fit: contain;
    max-width: 100%;
    max-height: fit-content;
    overflow: hidden;
    background-repeat: no-repeat;
}
.form-wrapper{
    position: absolute;
    top: 40%;
    left: 30%;
    display: inline-block;
}
.form-wrapper input{
    padding: 15px;
    padding-right: 55px;
    font-size: 100%;
    border-radius: 30px;
    border: 1px solid #000000;
    width:500px ;
    font-size: 20px;
}
.form-wrapper button{
   padding: 17px;
   cursor: pointer;
   border: 1px solid #000000;
   border-radius: 30px;
   background-color: transparent;
   position: absolute;
   right: 0px;
}
button:hover{
    background-color: #e2e2e2;
}
/* .back2 h2{
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-family: sans-serif;
    position: absolute;
    left:2%;
    padding-top: 20px;
}
.back1{
    background-color: #ffffff ;
    margin-top: 50px;
    position: relative;
    display: block;
    height: auto;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    min-height: 500px;
    left: 1%;
    border-radius: 10px;
    right: 1%;
    overflow: hidden;
}
.back3{
     display: block;
     position: absolute;
     color: #000000;
     background-color: #fff;
     left: 2%;
     margin-top: 80px;
     font-family: sans-serif;
     padding: 10px 15px 10px 10px;
     border-radius: 10px;
     box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
     flex-shrink: 0;
}
 .leftimg{
    float: left;
    height: 90px;
    width: 90px;
    border-radius:5px;
}
.back31{
    padding-left: 100px;
    background-color: #fff;
}
.back31 .h1{
    font-size: 14px;
}
.back31 .h2{
    font-size:14px;
}
.back31 .p3{
    font-size: 13px;
    color:#444;
    margin-top: 9px;
}
.back32{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #fff;
}
.back32 .p1{
    font-size: 11px;
    color:#444;
    font-weight: bold;
}
.back32 .p2{
    font-size: 11px;
    color:#444;
}
.back3 a{
    color: rgb(1, 154, 255);
    font-size:10px;
    float: inline-end;
    padding-top: 20px;
    font-weight: bold;
}
.back1{
    display:flex;
    overflow: hidden;
    justify-content: space-between;
}
.block{
        display:flex;
        overflow: hidden;
        justify-content: space-between;
}
.back3 .back4{
     left: 140%;
     position: absolute;
     color: #000000;
     background-color: #fff;
     top: 0%;
     font-family: sans-serif;
     padding: 10px 25px 10px 10px;
     border-radius: 10px;
     box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
     flex-shrink: 0;
}
.back3:last-child{
    margin-right:0;
} */

.main2
{
    display: flex;
    flex-shrink:0;
    align-items: center;
    position: relative;
    flex-direction: row;
    margin-top: 40px;
    gap: 3x0px;
}
.d1{
    display:flex;
    color: #444;
    font-weight: bold;
    font-size: 14px;
    justify-content: space-between;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.p2
{
    color: #444;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.p3{
    color: #444;
    font-size: 135x;
    letter-spacing: 0.5px;
    margin-top: 13px;
}
.hl3{
    margin-top: 13px;
    font-size: 22px;
}
.main3 img{
    height: 110px;
    width: 110px;
    border-radius: 3px;
    left: 2%;
    position: absolute;
}
.main4 img{
    height: 110px;
    width: 110px;
    border-radius: 3px;
    left: 2%;
    position: absolute;
}
.main3 h3{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.main4 h3 {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.main4{
    border-radius: 10px;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.5);
    position: relative;
    margin-left: 40px;
    padding:  15px 440px 150px 15px;
 
}
.main3{
    border-radius: 10px;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.5);
    position: relative;
    margin-left: 30px;
    padding:  15px 440px 150px 15px;
 
}
.main3-1{
    position: absolute;
    padding-left: 120px;
}
.p4{
   color: #2d8cff;
   font-weight: bold;
   font-family: sans-serif;
   font-size: 13px;
   margin-top: 14px;
   margin-left: 230px;
}
.main4 .p4{
    color: #2d8cff;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 14px;
    margin-left: 230px;
}
.main4 .p3{
    color: #444;
    font-size: 135x;
    letter-spacing: 0.5px;
    margin-top: 40px;
}